$color-main:#C0FA73;
$color-text: black;
$color-background: white;
$width-main: 100%;
$max-width:1920px;
$width-content: $width-main*0.66;
$max-width-content: $max-width*0.66;
$font-family-primary: 'Noto Sans TC', sans-serif;